@charset "utf-8";

body {

}

h1 {
  color: rgb(55, 165, 215);
  font-weight: 800;
  font-size: 3.0em;
}

h2 {
  font-weight: 800;
  font-size: 3.0em;
}

h3 {
  color: #fff;
  font-size: 3.0em;
}

h1, h2, h3 {
  text-align: center;
}

img {
  width: 100%;
}

.usp {
  background: #2697da;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2697da), color-stop(100%, #2082bc));
  background:-webkit-linear-gradient(top, #2697da 0%, #2082bc 100%);
  background:-moz-linear-gradient(top, #2697da 0%, #2082bc 100%);
  background:-ms-linear-gradient(top, #2697da 0%, #2082bc 100%);
  background:-o-linear-gradient(top, #2697da 0%, #2082bc 100%);
  background:linear-gradient(to bottom, #2697da 0%, #2082bc 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2697da, endColorstr=#2082bc, GradientType=0);
  padding:50px 0px;
  margin: 50px 0px;
}

.testimonial {
  font-family: 'Droid Sans', sans-serif;
  background-color: rgb(238, 238, 238);
  padding: 20px;  
  color: #777;
  font-style: italic;
  font-size: 1.25em;
  font-weight: normal;
  margin-bottom: 30px;
}