---
title: Mailed.app
---

%section.container
  .row
    .col-md-8.col-md-offset-2
      %h1
        %u FINALLY
        a way to
        %u TAKE CONTROL
        of your inbox!
  .row
    .col-md-12
      = image_tag("inbox.jpg")
  .row
    .col-md-8.col-md-offset-2
      %h2 The no hassle way of controlling the mailing lists that you care about
%section.usp
  .container
    .row
      .col-md-10.col-md-offset-1
        %h3 No more hunting for the unsubscribe link
%section.usp
  .container
    .row
      .col-md-10.col-md-offset-1
        %h3 Online marketing will grow by 500% in 2014!
%section.usp
  .container
    .row
      .col-md-10.col-md-offset-1
        %h3 Mail Guardian puts you back in control
%section
  .container
    .row
      .col-md-12
        .col-sm-6
          .testimonial
            %p ... Thank you for what you did for me in 2014.
            %p Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial
            %p nick
        .col-sm-6
          .testimonial
            %p ... Thank you for what you did for me in 2014.
            %p Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial
            %p nick
        .col-sm-6
          .testimonial
            %p ... Thank you for what you did for me in 2014.
            %p Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial
            %p nick
        .col-sm-6
          .testimonial
            %p ... Thank you for what you did for me in 2014.
            %p Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial
            %p nick
%section.usp
  .container
    .row
      .col-md-10.col-md-offset-1
        %h3 What do I get?