---
title: Mailed.app
---

.container
  .row
    .col-md-6.col-md-offset-2
      %h1 Free Your Mail Box
  .row
    .col-md-6.col-md-offset-2
      %ul
        %li 
          %i.fa.fa-check-square-o.fa-2x.point
            %span Protect your identity
        %li 
          %i.fa.fa-check-square-o.icon-large.fa-2x.point 
            %span Pause a mailing list
        %li 
          %i.fa.fa-check-square-o.icon-large.fa-2x.point
            %span Forget unsubscribe links
  .row
    .col-md-10.col-md-offset-2
      %span.email
        %input{type: "text", placeholder: "Your best email"}
